@{
    ViewBag.Title = "About";
}
<input type="file" onchange="fileReader(this)" />
 <div id="d">
       <img id="img" src="" />
</div>
<script type="text/javascript">
     function fileReader(obj) {
         var file = obj.files;
         var img = document.getElementById("img");
         var reader = new FileReader();// 操作图片
         if (/image/.test(file[0].type)) {
            reader.readAsDataURL(file[0]);
            
        } else {
             alert('请选择图片!');
             obj.value = "";
             return;
            
        }
        // 图片加载错误
         reader.onerror = function () {
             document.write("图片加载错误");
            
        }
         // 图片加载完成
         reader.onload = function () {
             img.src = reader.result;
            
        }
        
    }
    </script>